:root {
    --color-1: #AE0A0A;
    --color-2: #1E112D;
    --color-3: #DFDFEC;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #E5E8F6;
}

header {
    text-align: center;
    font-size: 2em;
    height: 160px;
    padding: 20px 40px;
    background-color: var(--color-1);
    color: var(--color-2);
    border-bottom: 5px solid var(--color-2);
}

main {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-auto-rows: 1fr;
    background-color: var(--color-3);
}

#display-area {
    width: 360px;
    height: 600px;
    padding: 60px 0 0 0;
    background-color: red;
    grid-column: 1;
    grid-row: 1;
    border-right: solid black 3px;
}

#game-grid {
    background-color: var(--color-3);
    height: 600px;
    width: 600px;
    margin: 0 auto 0 180px;
    padding: 60px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    grid-column: 2 / 4;
    grid-row: 1;
}

.game-tile {
    height: 10%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game-tile:hover {
    background-color: #CDB3FF;
}